{
    "presets": [
        "@babel/preset-typescript",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": true
                }
            }
        ]
    ],
    "plugins": [
        [
            "babel-plugin-root-import",
            {
                "rootPathPrefix": "#/",
                "rootPathSuffix": "./src/lambda/schema/"
            }
        ]
    ]
}
